<template id="cart-notification-template">
  <div class="flex row gap-xs spacing-m">
    <p>Das Produkt wurde zu deinem Warenkorb hinzugefügt.</p>
    <a href="{{ routes.cart_url }}" class="link">anzeigen</a>
    <pop-up-button class="">
      {% render 'icon', icon: 'close' %}
    </pop-up-button>
  </div>
</template>