<div class="shopify-block--theme-icon">
  {% render 'icon', icon: block.settings.icon %}
</div>

{% schema %}
{
  "name": "Icon",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size"
    }
  ],
  "presets": [
    {
      "name": "Icon"
    }
  ]
}
{% endschema %}
