<div class="shopify-block--modal-button">
  <theme-modal-button
    for="{{ block.settings.id }}"
    class="{{ block.settings | class_list }}"
    {{ block.shopify_attributes }}>
    {% content_for "blocks" %}
  </theme-modal-button>
</div>

{% schema %}
{
  "name": "Modal button",
  "tag": null,
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "ID",
      "default": "cart-drawer",
      "info": "The ID of this modal. Enter this into any modal button to toggle this modal."
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    }
  ],
  "presets": [
    {
      "name": "Modal button"
    }
  ]
}
{% endschema %}
