<button type="submit" class="btn btn--primary btn--add-to-cart">
  Add To Cart
</button>

{% schema %}
  {
    "name": "Product Add To Cart",
    "tag": null,
    "settings": [

    ],
    "presets": [
      {
        "name": "Product Add To Cart"
      }
    ]
  }
{% endschema %}