<theme-notification id="cart-notification">
  <div class="flex row middle gap-xs spacing-m">
    <p>Das Produkt wurde zu deinem Warenkorb hinzugefügt.</p>
    <a href="{{ routes.cart_url }}" class="link">anzeigen</a>
    <theme-modal-button class="">
      {% render 'icon', icon: 'close' %}
    </theme-modal-button>
  </div>
</theme-notification>

{% schema %}
  {
    "name": "Cart notification",
    "settings": [
    
    ]
  }
{% endschema %}
