<style>
  pop-up#cart-drawer{
    align-items: end;
    & .cart-drawer{
      height: 100%;
      width: min(100vw, 400px);
      max-height: 100%;
      & cart-form{
        height: 100%;
        & form{
          height: 100%;
          & .cart-drawer-inner{
            height: 100%;
          }
        }
      }
    }
  }
</style>

<pop-up id="cart-drawer" scrolling="disabled">
  <div class="color-{{ section.settings.color_scheme }} cart-drawer">
    <cart-form section="{{section.id}}">
      {% form "cart", cart %}
        <div class="cart-drawer-inner flex col space-between stretch {{ section.settings | class_list }} ">
          {% content_for "blocks" %}
        </div>
      {% endform %}
    </cart-form>
  </div>
</pop-up>

{% schema %}
{
  "name": "Cart drawer",
  "tag": "aside",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
